
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
<h1>Produtos</h1>
<a href="/produtos/novo">Novo Produto</a>
<table border="1">
    <tr>
        <th>ID</th><th>Nome</th><th>Categoria</th><th>Preço</th><th>Ações</th>
    </tr>
    <tr th:each="p : ${produtos}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.categoria}"></td>
        <td th:text="${p.preco}"></td>
        <td>
            <a th:href="@{/produtos/visualizar/{id}(id=${p.id})}">Ver</a> |
            <a th:href="@{/produtos/editar/{id}(id=${p.id})}">Editar</a> |
            <a th:href="@{/produtos/deletar/{id}(id=${p.id})}">Excluir</a>
        </td>
    </tr>
</table>
</body>
</html>
